<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Simple Transactional Email</title>
  </head>
  <body>
    <h1>Password reset</h1>
    <span>
      <h3>Someone requested that the passoword be <br>reset for the following account:</h3>
      <p>To reset your password, visit the following address:</p>
      <a href="https://marco-lyart.vercel.app/#/change.password">
    <button>Click here to reset your password</button>
    </a>
    <br>
     {{url}}
     <p>If it was a mistake, ignore this email and help us secure your account.</p>
    </span>  
  </body>
</html>